
:root {
    --page-width: 100%;
}

@media (min-width: 576px) {
    :root {
        --page-width: 80%;
    }
}

@media (min-width: 768px) {
    :root {
        --page-width: 60%;
    }
}

@media (min-width: 992px) {
    :root {
        --page-width: 50%;
    }
}

@media (min-width: 1200px) {
    :root {
        --page-width: 40%;
    }
}


ion-page {
    width: var(--page-width);
    margin: 0 auto;
}


